---
import BaseHead from '@components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import MainNavigation from '@components/MainNavigation.astro'
import Footer from '@components/Footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <MainNavigation />
    <main>
      <section class="fof-grid">
        <h1 class="fof">404</h1>
        <h2 class="notfound">Page not found</h2>
        <p class="message">Nothing to see here, I'm afraid!</p>
      </section>
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-rows: auto min-content;
        background-color: var(--background-color);
      }
    </style>
  </body>
</html>
