---
import BaseHead from '@components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body itemtype="https://schema.org/ProfilePage" itemscope>
    <main class="vcard h-card" itemtype="http://schema.org/Person" itemprop="mainEntity" itemscope>
      <a rel="me" href={Astro.site?.href} class="u-url u-uid" style="display:none;">Danny Smith</a>
      <h1 class="fn p-name" itemprop="name">
        <span itemprop="givenName">Danny</span>
        <span itemprop="familyName">Smith</span>
      </h1>
      <ul class="link-list">
        <li>
          <a href="/writing"><strong>writing</strong></a>
        </li>
        <li>
          <a href="/notes"><strong>notes</strong></a>
        </li>
        <li>
          <a href="/toolbox"><strong>remote working</strong> toolbox</a>
        </li>
        <li>
          <a href="/youtube"><strong>youtube</strong></a>
        </li>
        <li>
          <a href="/using">stuff I'm <strong>using</strong></a>
        </li>
        <li>
          <a href="/music">my <b>music</b></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/dannyasmith" rel="me"
            ><strong>linkedin</strong>/dannyasmith</a
          >
        </li>
        <li>
          <a href="https://indieweb.social/@dannysmith" rel="me">
            <strong>Mastodon</strong>/@dannyasmith
          </a>
        </li>
        <li>
          <a href="https://medium.com/@dannysmith" rel="me"><strong>medium</strong>/dannysmith</a>
        </li>
        <li>
          <a href="https://github.com/dannysmith" rel="me"><strong>github</strong>/dannysmith</a>
        </li>
        <li>
          <a href="https://instagram.com/dannysmith" rel="me"
            ><strong>instagram</strong>/dannysmith</a
          >
        </li>
        <li>
          <a href="https://monzo.me/dannyasmith" rel="me"><strong>monzo</strong>.me</a>
        </li>
        <li>
          <a class="u-email p-email" href="mailto:hi@danny.is" rel="me" itemprop="email"
            ><strong>email</strong></a
          >
        </li>
      </ul>
      <img
        src="/icon.jpg"
        alt="Danny Smith Profile Image"
        class="avatar u-photo"
        loading="lazy"
        itemprop="image"
      />

      <style>
        :root {
          --background-color: var(--c-beige-bg);
          --homepage-linklist-border-color: var(--c-primary);
          --homepage-linklist-hover-color: var(--c-primary);
        }

        body {
          background: var(--background-color);
        }

        main {
          display: grid;
          grid-template-columns: 1rem auto 1fr;
        }

        h1 {
          grid-column: 1 / -1;
          font-size: 12.7vw;
          text-transform: uppercase;
          margin-top: -0.2em;
          pointer-events: none;
          line-height: 1;
        }

        .link-list {
          grid-column: 2 / 3;
          padding: 0;
        }

        .link-list li {
          text-transform: uppercase;
          letter-spacing: 0.05ch;
          list-style-type: none;
          padding: 0;
          border-bottom: 5px solid var(--homepage-linklist-border-color);
          line-height: 1.65;
        }

        .link-list strong {
          letter-spacing: 0.125ch;
        }

        .link-list a {
          text-decoration: none;
          color: inherit;
        }

        .link-list a:hover {
          color: var(--homepage-linklist-hover-color);
        }

        .avatar {
          display: none;
        }
      </style>
    </main>
  </body>
</html>
