---
import BaseHead from '@components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import URLCard from '@components/URLCard.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="cq">
      <URLCard url="https://youtu.be/AD5aAd8Oy84?si=SpWmlnsexh0XS4eh" />

      <style>
        body {
          padding: 1rem;
        }
      </style>
    </main>
  </body>
</html>
