---
import BaseHead from '@components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Callout from '@components/Callout.astro'
import Footer from '@components/Footer.astro'
import NotionIcon from '@components/icons/NotionIcon.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="cq">
      <Callout>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum hic a
          dolorem ipsa labore cum, consequatur nihil voluptatibus tempora in
          iusto, doloribus magnam! Earum repudiandae quasi molestias beatae
          tempore saepe.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum hic a
          dolorem ipsa labore cum, consequatur nihil voluptatibus tempora in
          iusto, doloribus magnam! Earum repudiandae quasi molestias beatae
          tempore saepe.
        </p>
      </Callout>

      <Callout icon="ðŸ’¡" type="blue">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum hic a
          dolorem ipsa labore cum.
        </p>
      </Callout>

      <Callout title="Security Checklist" icon="1ï¸âƒ£">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum hic a
          dolorem ipsa labore cum, consequatur nihil voluptatibus tempora in
          iusto, doloribus magnam! Earum repudiandae quasi molestias beatae
          tempore saepe.
        </p>
      </Callout>
      <NotionIcon />
    </main>
    <Footer />
    <style>
      main {
        padding: 1rem;
      }
    </style>
  </body>
</html>
