---
export interface Props {
  title?: string
  type?: 'default' | 'red' | 'blue' | 'green' | 'orange' | 'yellow'
  icon?: string
}

const { title, icon, type = 'default' } = Astro.props
---

<aside aria-label={title} class="callout" data-callout-color={type}>
  {
    icon && (
      <div class="icon-wrapper">
        <div class="icon">{icon}</div>
      </div>
    )
  }
  <div class="content-wrapper">
    {title && <h3 class="title">{title}</h3>}
    <section class="prose content">
      <slot />
    </section>
  </div>
</aside>

<style>
  :root {
    --callout-default-bg: var(--color-grey-300);
    --callout-red-bg: var(--color-red-300);
    --callout-blue-bg: var(--color-blue-300);
    --callout-green-bg: var(--color-green-300);
    --callout-orange-bg: var(--color-orange-300);
    --callout-yellow-bg: var(--color-yellow-300);
  }
  .callout {
    display: flex;
    background: var(--callout-default-bg);
    padding: 1em;
    border-radius: 4px;
  }

  .icon-wrapper {
    flex-shrink: 0;
    padding-right: 0.75em;
  }

  .title {
    line-height: inherit;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-wrapper {
    flex-grow: 1;

    section {
      margin: 0;
    }
  }

  [data-callout-color='red'] {
    background: var(--callout-red-bg);
  }

  [data-callout-color='blue'] {
    background: var(--callout-blue-bg);
  }

  [data-callout-color='green'] {
    background: var(--callout-green-bg);
  }

  [data-callout-color='orange'] {
    background: var(--callout-orange-bg);
  }

  [data-callout-color='yellow'] {
    background: var(--callout-yellow-bg);
  }
</style>
