---
import RSSIcon from '@components/icons/RSSIcon.astro';
import LinkedInIcon from '@components/icons/LinkedInIcon.astro';
import YouTubeIcon from '@components/icons/YouTubeIcon.astro';
import InstagramIcon from '@components/icons/InstagramIcon.astro';
const today = new Date();
---

<footer>
  <section class="footer-name">
    <div class="circle"></div>
    <div class="name">Danny Smith</div>
  </section>
  <section class="footer-nav-links">
    <ul>
      <li>
        <a href={Astro.site?.href} class="h-card" title="Danny Smith">Home</a>
      </li>
      <li><a href="/writing">Writing</a></li>
      <li><a href="/notes">Notes</a></li>
      <li><a href="/now">Now</a></li>
      <li><a href="/working">Work</a></li>
      <li><a href="/toolbox">Toolbox</a></li>
    </ul>
  </section>
  <section class="footer-social-links">
    <ul>
      <li><a href="/rss.xml" title="RSS Feed"><RSSIcon /></a></li>
      <li>
        <a href="/linkedin" title="LinkedIn Profile"><LinkedInIcon /></a>
      </li>
      <li><a href="/youtube" title="Youtube Channel"><YouTubeIcon /></a></li>
      <li>
        <a href="https://instagram.com/dannysmith" title="Instagram Profile"><InstagramIcon /></a>
      </li>
    </ul>
  </section>
  <div class="copyright">
    &copy; {today.getFullYear()} Danny Smith.
  </div>
</footer>
<style>
  footer {
    --footer-background: var(--color-bg-dark-200);
    --footer-foreground: var(--c-white);
    --footer-border: var(--c-primary);
    --footer-dot: var(--c-primary);
    --footer-link-hover: var(--c-primary);
    --footer-social-link: var(--c-primary);
    --footer-social-link-hover: rgba(0, 0, 0, 0.8);

    position: relative;
    background-color: var(--footer-background);
    color: var(--footer-foreground);
    border-top: 1rem solid var(--c-primary);
    padding: 1rem;
    font-size: clamp(0.8rem, calc(0.6rem + 1vw), 1rem);
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  .footer-name {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .circle {
    width: clamp(1rem, calc(0.8rem + 1vw), 1.5rem);
    height: clamp(1rem, calc(0.8rem + 1vw), 1.5rem);
    background-color: var(--footer-dot);
    border-radius: 50%;
  }
  .name {
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.05ch;
    font-weight: 700;
    text-align: left;
  }

  .footer-nav-links {
    margin-top: 1em;
    padding-left: 2em;

    li {
      text-transform: uppercase;
      letter-spacing: 0.1ch;
      list-style-type: none;
      padding: 0;
      line-height: 1.65;
    }

    a,
    a:link,
    a:visited {
      padding: 0.5rem;
      text-decoration: none;
      color: var(--footer-foreground);
    }

    a:hover,
    a:active,
    a:focus {
      color: var(--footer-link-hover);
    }
  }

  .footer-social-links {
    ul {
      display: flex;
      gap: 1rem;
      justify-content: center; /* Change for wider viewports? */
    }

    li {
      width: 2.5rem;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      border-radius: 50%;
      aspect-ratio: 1;
    }

    a:hover,
    a:active,
    a:focus {
      background-color: var(--footer-social-link-hover);
      color: var(--footer-social-link);
    }

    svg {
    }
  }

  .copyright {
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    font-weight: 200;
    position: absolute;
    right: 1rem;
    top: 1rem;
    writing-mode: vertical-rl;
  }
</style>
