---
import {} from '@astropub/icons'
import RSSIcon from '@components/icons/RSSIcon.astro'
import LinkedInIcon from '@components/icons/LinkedInIcon.astro'
import YouTubeIcon from '@components/icons/YouTubeIcon.astro'
import InstagramIcon from '@components/icons/InstagramIcon.astro'
const today = new Date()
---

<footer>
  <div class="footer-nav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/writing">Writing</a></li>
      <li><a href="/notes">Notes</a></li>
      <li><a href="/now">Now</a></li>
      <li><a href="/working">Work</a></li>
      <li><a href="/toolbox"><strong>Toolbox</strong></a></li>
    </ul>
    <div class="footer-social-links">
      <ul>
        <li><a href="/rss.xml" title="RSS Feed"><RSSIcon /></a></li>
        <li>
          <a href="/linkedin" title="LinkedIn Profile"><LinkedInIcon /></a>
        </li>
        <li><a href="/youtube" title="Youtube Channel"><YouTubeIcon /></a></li>
        <li>
          <a href="https://instagram.com/dannysmith" title="Instagram Profile"
            ><InstagramIcon /></a
          >
        </li>
      </ul>
    </div>
    <div class="copyright">
      &copy; {today.getFullYear()} Danny Smith.
    </div>
  </div>
  <style>
    footer {
      background-color: var(--c-brand-dark-grey);
      color: var(--c-white);
    }

    .copyright {
      text-transform: uppercase;
      letter-spacing: 0.1ch;
    }
  </style>
</footer>
