---
const today = new Date()
---

<footer>
  <div class="copy">
    &copy; {today.getFullYear()} Danny Smith. All rights reserved.
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background-color: var(--c-brand-dark-grey);
    color: var(--c-white);
    text-align: center;
  }
</style>
