---
import HeaderLink from './HeaderLink.astro'
---

<header>
  <nav>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/writing">Writing</HeaderLink>
      <HeaderLink href="/notes">Notes</HeaderLink>
    </div>
  </nav>
</header>
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--c-primary);
  }
</style>
