---
import FormattedDate from '@components/FormattedDate.astro'
import URLCard from '@components/URLCard.astro'

export interface Props {
  title: string
  pubDate: Date
  sourceURL?: string
}

const { title, pubDate, sourceURL } = Astro.props
---

<article class="note">
  <div class="date">
    <FormattedDate date={pubDate} />
  </div>
  <div class="title">
    <h1>{title}</h1>
  </div>
  {
    sourceURL && (
      <div class="source-url cq">
        <URLCard url={sourceURL} />
      </div>
    )
  }
  <div class="note-content cq prose">
    <slot />
  </div>
</article>

<style>
  :root {
    --note-border-color: var(--color-bg-dark-200);
    --note-background: var(--c-white);
    --dotgrid-color: var(--color-red-400);
    --date-color: var(--color-grey-700);
    --title-underline-color: var(--color-red-500);
  }
  .note {
    --line-height: calc(1.8 * 1rem);

    background: var(--note-background);
    padding: var(--line-height);

    background-image: radial-gradient(
      var(--dotgrid-color) 0.5px,
      transparent 0
    );
    background-size: 1rem 1rem;
    filter: var(--shadow-small);
    border-top: 1rem solid var(--note-border-color);
  }

  .date {
    font-size: 0.7rem;
    color: var(--date-color);
    text-transform: uppercase;
    letter-spacing: 0.1ch;
  }

  .title {
    line-height: calc(var(--line-height) * 2);
    margin-top: var(--line-height);
    padding-bottom: calc(var(--line-height) / 2);
    border-bottom: 1px solid var(--title-underline-color);
  }

  .title h1 {
    font-size: clamp(
      calc(var(--line-height) * 1),
      4vw,
      calc(var(--line-height) * 3)
    );
  }

  .source-url,
  .note-content {
    margin-top: var(--line-height);
  }
</style>
