<div>This is the content</div>
<style>
  div {
    padding: 1rem;
    background-color: var(--c-primary);
  }

  @container (width < 400px) {
    div {
      background-color: green;
    }
  }
</style>
