---
export interface Props {
  imageSrc?: string
}

const imageSrc = Astro.props.imageSrc
---

<div class="card">
  {imageSrc && <img class="coverimage" src={imageSrc} />}
  <div class="content">
    <slot />
  </div>
</div>
<style>
  .card {
    display: grid;
    background-color: rgba(var(--color-blue-300), 0.6);
    box-shadow: 1px 1px 20px rgb(0 0 0 / 20%);
    border-radius: 10px;
    overflow: hidden;
  }

  .coverimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    padding: 1rem;
  }

  @container (width > 500px) {
    .card {
      grid-template-columns: 1fr 3fr;
    }
  }
</style>
