---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '@components/BaseHead.astro'
import Footer from '@components/Footer.astro'
import NoteCard from '@components/NoteCard.astro'
import MainNavigation from '@components/MainNavigation.astro'

type Props = CollectionEntry<'notes'>['data']

const { title, pubDate, sourceURL } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>

  <body>
    <MainNavigation />
    <main>
      <NoteCard title={title} pubDate={pubDate} sourceURL={sourceURL}>
        <slot />
      </NoteCard>
    </main>
    <Footer />

    <style>
      body {
        display: grid;
        grid-template-rows: auto min-content;
        grid-template-columns: 100%;
        background-color: var(--color-yellow-300);
      }

      main {
        padding: 1em;
        padding-top: 4em;
        display: grid;
        place-items: center;

        .note {
          max-width: 80ch;
        }
      }
    </style>
  </body>
</html>
